.SurveyRunBody {
    padding: 0px;
    margin: 0px;
    height: 100%;

    // Background
    @if $backgroundType == gradient {
        @include filter-gradient($backgroundStart, $backgroundEnd);
        @include background-image(linear-gradient($backgroundStart, $backgroundEnd));
        background-repeat: no-repeat;
        background-attachment: fixed;
    } @else if $backgroundType == image {
        background: #FFF url($backgroundImageUrl) repeat top left scroll;
    } @else if $backgroundType == plain {
        background-color: $backgroundColor;
    }
}

.SurveyContent {
    background:#ffffff;
    height: 100%;

    textarea, 
    input, 
    select, 
    option {
        font-size: 10pt; 
        font-family: $fontFamily;
        color: #000000;
    }

    a, 
    a:visited, 
    a:link, 
    a:hover { 
        color: #000000;
    }
}

// Container inner shadow? 
@if $containerInnerShadow == true {
    .newSurveyLogoContainer {
        @include box-shadow(5px 5px 5px -5px $containerInnerShadowColor inset, -5px 0 5px -5px $containerInnerShadowColor inset);
        border-left: 1px solid $containerInnerShadowColor;
        border-top: 1px solid $containerInnerShadowColor;
        border-right: 1px solid $containerInnerShadowColor;
    }
    // .newSurveynameContainer {
    //     -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    //     -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    //     box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    //     border: solid 1px #b8b8b8;
    // }
    .newSurveyQuestionsTable {
        border: 1px solid $containerInnerShadowColor;
        @include box-shadow(5px 0px 5px -5px $containerInnerShadowColor inset, -5px 0 5px -5px $containerInnerShadowColor inset);
    }
}

// Container outer shadow? 
@if $containerOuterShadow == true {
    // .newSurveyLogoContainer {
    //     -webkit-box-shadow: 5px 5px 5px -5px $containerOuterShadowColor, -5px 0 5px -5px $containerOuterShadowColor;
    //     -moz-box-shadow: 5px 5px 5px -5px $containerOuterShadowColor, -5px 0 5px -5px $containerOuterShadowColor;
    //     box-shadow: 5px 5px 5px -5px $containerOuterShadowColor, -5px 0 5px -5px $containerOuterShadowColor;
    //     border-left: 1px solid $containerOuterShadowColor;
    //     border-top: 1px solid $containerOuterShadowColor;
    //     border-right: 1px solid $containerOuterShadowColor;
    // }
    // .newSurveyQuestionsTable {
    //     border: 1px solid darken($containerOuterShadowColor, 5%);
    //     -moz-box-shadow: 5px 0 5px -5px $containerOuterShadowColor, -5px 0 5px -5px $containerOuterShadowColor;
    //     -webkit-box-shadow: 5px 0 5px -5px $containerOuterShadowColor, -5px 0 5px -5px $containerOuterShadowColor;
    //     box-shadow: 5px 0 5px -5px $containerOuterShadowColor, -5px 0 5px -5px $containerOuterShadowColor;
    // }
    .newSurveyContainerTable {
        @include box-shadow(0px 0px 15px $containerOuterShadowColor);
        border: 1px solid $containerOuterShadowColor;
    }
}


.QuestionDescription, 
.QuestionText, 
.AnswerText, 
.AltQuestionText,
.AltAnswerText, 
.SurveyHeader, 
.SurveyFooter, 
.QuestionError, 
.SurveyValidation, 
.SurveySectionHeading, 
.SurveySectionSubHeading, 
.SurveySectionHeadingSmall {
    font-size: 10pt; 
    font-family: $fontFamily;
    color: #000000;
}

.QuestionDescription, 
.QuestionText {
    font-weight: bold;
}

.SurveyTop {
    margin-top: 10px;
}

.SurveyTopToolbar {
    margin-top: 65px;
}

.QuestionDescription {
    padding-top: 3px;
    padding-bottom: 3px;
}

.QuestionText { 

}

.AltQuestionText {
    background: #f5f5f5;
}

.AnswerText {
    color: #555555;
}

.AltAnswerText { 
    background: #f5f5f5;
    color: #555555;
}

.SurveyHeader { 
    font-weight: bold;
    padding-bottom: 15px;
}

.SurveyFooter { 
    text-align: center;
}

.QuestionError { 
    color: #cc0000 !important;
}

.SurveyQuestionErrorBox {
    background:#ffebe8 url(../images/alert_error.gif) no-repeat scroll left center;
    border-color:#cc0000;
    color:#660000;
    border: 1px solid #cc0000;
    font-size: 10pt; 
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 5px 5px 30px;
    text-align: left;
}

.SurveyValidation { 
    color: #FF3330 !important;
}


.SurveyTipContent {
    padding: 5px 3px 5px 2px;
}

.SurveySectionHeading { 
    font-size: 14pt !important;
    color: #ffffff !important;
    font-weight: bold;
    background-color: #707070; 
    padding: 5px 3px 5px 2px;
}

.SurveySectionSubHeading { 
    font-size: 14pt !important;
    font-weight: bold;
    padding: 5px 3px 5px 2px;
}

.SurveySectionHeadingSmall { 
    font-weight: bold;  
}

.SurveyDivider { 
    border-bottom: 1px solid #cccccc;
} 

.SurveyHighlight {
    background-color: #ffffcc;
    cursor:pointer;
    cursor:hand;
}

#SurveySubmitButton {
    padding-top:15px;
    padding-bottom:15px;
    margin-bottom: 10px;
}

.SurveyTableHeader {
    padding: 2px 8px 2px 8px;
    text-align: center;
}

.SurveyTableGrid {
    margin: 2px 0px 5px 0px;
    border-collapse: collapse;
}

.SurveyTableGrid th  {
    border: 1px solid #ccc;
    padding: 2px 4px 2px 4px;
    background: #f5f5f5;
    text-align: center;
}

.SurveyTableGrid td  {
    border: 1px solid #ccc;
    padding: 3px 4px 3px 4px;
}

.SurveyTableNoGrid td {
    border: none;
}


.SurveyVoteUp {
    background:url('/images/ideascale/vote_up.png') center left no-repeat; 
}

.SurveyVoteDown {
    background:url('/images/ideascale/vote_down.png') center left no-repeat; 
}

.SurveyNoVote {
    background:none;
}

.iconLink {
    font-size: 8pt;
    vertical-align: middle;
    color: #3252b2;
}

a.iconLink, 
a.iconLink:visited, 
a.iconLink:link { 
    text-decoration: none; 
    color: #3252b2;
}

a.iconLink:hover { 
text-decoration: underline; 
}

.dashboard {
    background-color:#999999;
    color:#FFFFFF;
    float:left;
    padding:8px;
    @include border-radius(5px);
    font-family: $fontFamily;
}

.dashboardTitle {
    font-size:10px;
    margin-bottom:5px;
    text-align:center;
    text-transform:uppercase;
    color:#fff;
    font-family: $fontFamily;
}

.dashboardContent {
    font-size:70px;
    font-weight:bold;
    text-align:center;
    margin-bottom:-10px;
    color:#fff;
    font-family: $fontFamily;
}

.shadowedBox,
.shadowedBoxIE {
    display: none;
    position: absolute;
    margin-left: -16px;
    margin-top: -2px;
    z-index: 1000;
}

.shadowedBoxBody {
    border: solid 2px #333333;
    background-color: white;
    padding:10px;
    font-size: 10pt; 
    font-family: $fontFamily;
}

.shadowedBoxBody {
    @include border-radius(5px);
    border: solid 1px #565656 !important;
    box-shadow: 0 0 30px #000000 !important;
}


.position-fixed-top {
    position:fixed !important;
    top: 0;
    left: 0;
}
.position-fixed-center {
    position:fixed !important;
    top: 50%;
}
.position-fixed-bottom {
    position:fixed !important;
    bottom:0;
    left: 0;
}

.SurveyReport{
    background-color: #707070;
}

.SurveyReportQuestionTotalRow {
    background-color: #707070;
    border-left:1px solid #707070;
    border-right:1px solid #707070;
}


input.submit, 
input[type="submit"], 
input[type="button"] {
    font-family: $fontFamily;
    font-weight: bold;
    font-size: 13px;

    background: #0483ca;
    background-image: -webkit-linear-gradient(bottom, #0483ca 20%, #61c1fd);
    background-image: -moz-linear-gradient(bottom, #0483ca 20%, #61c1fd);
    background-image: -o-linear-gradient(bottom, #0483ca 20%, #61c1fd);
    background-image: -ms-linear-gradient(bottom, #0483ca 20%, #61c1fd);
    background-image: linear-gradient(to top, #0483ca 20%, #61c1fd);
    border: 1px solid #0095e2;
    color: #fff !important;

    @include border-radius(5px);

    -webkit-box-shadow: inset 0px 0px 3px 1px #0d64ad;
    -moz-box-shadow: inset 0px 0px 3px 1px #0d64ad;
    box-shadow: inset 0px 0px 3px 1px #0d64ad;
    padding: 10px 13px !important;
    cursor: pointer;
}

input.submit:hover, 
input[type="submit"]:hover, 
input[type="button"]:hover {
    background: #1e94df;
}

.doneNew div, 
.doneNew td, 
.doneNew p, 
.doneNew span, 
.doneNew a{
    font-family: $fontFamily;
}

.doneNew a {
    text-decoration:none;
}

.tick {
    background:url('/images/tickII.gif') no-repeat left center;
    padding-left:23px;
    font-size:16px;
    margin-bottom:7px;
}

div.freeSignupButton {   
    background:url('/images/signupbuttons/sign-up-for-free.png') no-repeat top left;
    height:42px;
    width:140px;
    border:0px;
    cursor:pointer;
    cursor:hand;
}

div.freeSignupButtonHover {
    background:url('/images/signupbuttons/sign-up-for-free-hover.png') no-repeat top left;
    height:42px;
    width:140px;
    border:0px;
    cursor:pointer;
    cursor:hand;
}

.allRoundCorners {
    @include border-radius(5px);
}

.OptionHover {
    background: $optionHover; 
    cursor:pointer; 
}
.newMatrixHover {
    background: $optionHover; 
}

.OptionHighlight, 
.OptionHighlight div {
    color:#555;
}

a.scalePeg, 
a.scalePeg:visited {
    background:url("../images/slider/newSliderPeg.png") no-repeat ;
    height:19px;
    width:14px;
    display:block;
    text-decoration:none;
    position:relative;
    top: -2px;
    cursor: pointer;
    z-index:2;
}

a.scalePeg:hover {
    background:url("../images/slider/newSliderPeg.png") no-repeat ;
    display:block;
    text-decoration:none;
    height:19px;
    width:14px;
    cursor: pointer;
}

.newSliderScale {
    background: #e9e9e9;
    border-top: 1px solid #bfbfbf;
    height:5px;
}

.newSliderBlueScaled {
    background-image: url("../images/slider/newSliderBlueScaled.png");
    background-repeat: repeat-x;
    height:6px;
    position:absolute;
    z-index:1;
    border-radius: 4px;
}

.newSliderScaleValueBox {
    color:#fff;
    background:#a2a2a2;
    background-image: -webkit-linear-gradient(bottom, #a8a8a8 80%, #4a4a4a);
    background-image: -moz-linear-gradient(bottom, #a8a8a8 80%, #4a4a4a);
    background-image: -o-linear-gradient(bottom, #a8a8a8 80%, #4a4a4a);
    background-image: -ms-linear-gradient(bottom, #a8a8a8 80%, #4a4a4a);
    background-image: linear-gradient(to top, #a8a8a8 80%, #4a4a4a);
    font-size:11px;
    position:relative;
    white-space:nowrap;
    border-radius: 3px;
    height: 18px;
    line-height: 17px;
    margin: 0 5px;
    min-width: 24px;
    padding: 0 3px;
}

.control_top {
    float: left;
    position:absolute;
    padding-left:60px;
    padding-top:5px;
}

.control_bottom {
    float: left;
    position:absolute;
    padding-left:60px;
    padding-top:5px;
}

.control_text_div_left {
    float: left;
}

.control_text_div_right {
    float: right;
}

.shadowedBoxBodyTitleBar {
    background:-moz-linear-gradient(center top , #737172, #717171) repeat scroll 0 0 #717171;
    background:-webkit-gradient(linear,center top, center bottom, from(#737172), to(#717171));
    background: #717171;
    margin: -10px -10px 8px -10px;
    height: 30px;
    cursor: move;
}

.shadowedBoxBodyTitleBar .leftDiv {
    float: left;
    text-align: left;
    margin: 7px 0px 10px 15px;
}
.shadowedBoxBodyTitleBar .closeButton {
    float: right;
    text-align: right;
    margin-top: 3px;
    margin-right: 4px;
}

.starNotSelected {
    background:url("../images/starrating/star_rating_not_selected.png") no-repeat 0 0 transparent;
    height:16px;
    width: 16px;
    display:block;
    text-decoration: none;
    cursor: pointer;
}

.starSelected {
    background:url("../images/starrating/star_rating_selected.png") no-repeat 0 0 transparent;
    height: 16px;
    width: 16px;
    display:block;
    text-decoration: none;
    cursor: pointer;
}

.starHovered {
    background:url("../images/starrating/star_rating_selected.png") no-repeat 0 0 transparent !important;
    height: 16px;
    width: 16px;
    display:block;
    cursor: pointer;
    text-decoration: none;
}

.starNotHovered {
    background:url("../images/starrating/star_rating_not_selected.png") no-repeat 0 0 transparent !important;
    height: 16px;
    width: 16px;
    display:block;
    cursor: pointer;
    text-decoration: none;
}

.dragNDropContainer {
    font-family: $fontFamily;
    font-size: 14px;
    font-weight: lighter;
    background-color: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #cccccc;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5px;
    opacity: 1;
    width: 74%;
    max-width: 480px;
    display:block;
}

.dragNDropContainer:hover {
    background: #eeeeee;
}

.dragNDropDotsImg {
    padding-left: 8px;
    padding-top: 5px;
}

.dragNDropOptionText {
    float: left;
    padding-left: 6px;
    padding-top: 14px;
    padding-bottom: 14px;
    position: inherit;
    width: 360px;
    color: #555;
}

.dragNDropRankText {
    background: url('/images/drag-n-drop-round.png') no-repeat;
    height: 27px;
    width:27px;
    text-align: center;
    color: #555555;
    padding-left:1px;
    padding-right: 23px;
}

.dragNDropHand {
    padding-top:15px;
    cursor: url('/images/addquestion/grab.png'), move;
    list-style: none;
}

.dragNDropGrabbed {
    cursor: url('/images/addquestion/grabbing.png'), move;
}

.sortingList,.sortingList li {
    cursor: url('/images/addquestion/grab.png'), move;
    list-style: none;
    padding-left: 0px;
    padding-bottom: 0px;
}

.sortingList li.ui-sortable-helper {
    cursor: url('/images/addquestion/grabbing.png'), move;
}

.newFreeHeaderBar {
    font-family: Arial,Helvetica,sans-serif;
    color: #ffffff;
    font-size: 8pt;
    font-weight: bold;
    cursor:pointer;
    cursor:hand;
    background-color: #0e254f;
    height: 44px;
    border-bottom: 1px solid #ADADAD;
    z-index: 1000;
}

.newFreePoweredText {
    font-size: 11px;
    color: #bbb;
    position: relative;
    top: -3px;
}

.newFreeHeaderLogo {
    position:relative;
    top:3px;
    padding-left: 8px;
    padding-right: 13px;
}

.newSurveyContainerTable {
    // padding-bottom: 70px;
    margin-bottom: 30px;
}

.newSurveynameContainer {
    padding: 8px 0;
    *background-color: #dcdcdc;
    background-image: -webkit-linear-gradient(bottom, #8d8d8d 20%, #c0c0c0);
    background-image: -moz-linear-gradient(bottom, #8d8d8d 20%, #c0c0c0);
    background-image: -o-linear-gradient(bottom, #8d8d8d 20%, #c0c0c0);
    background-image: -ms-linear-gradient(bottom, #8d8d8d 20%, #c0c0c0);
    background-image: linear-gradient(to top, #8d8d8d 20%, #c0c0c0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c0c0', endColorstr='#8d8d8d', GradientType=0 );
    height: 40px;
}

.newSurveyTitle {
    font-family: $fontFamily;
    font-weight: bold;
    @include text-shadow(0px 0px 4px rgba(2, 3, 3, 0.75));
    font-size: 18px;
    color: #fff;
    padding-left: 18px;
}

.newSurveyExitSurveyContainer {
    background-color: $exitBg;
    height:20px;

    @if( $exitBorder == true ) {
        border-color: #B4B4B4;
        border-style: solid;
        border-width: 0 1px;
    }
}

a.newSurveyExit:link, 
a.newSurveyExit:visited {
    font-family: $fontFamily;
    font-size: 12px;
    color: $exitColor;
    font-weight: $exitFontWeight;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 13px;
}
a.newSurveyExit:hover {
    text-decoration: underline;
}

.newSurveyExitArrow {
    position:relative;
    top: 3px;
}

.newSurveyProgressBarTable {
    padding-right: 9px;
    padding-left: 16px;
}

.newSurveyProgressText {
    color: #707070;
    font-size: 9px;
    font-weight: normal;
    text-align: right;
    line-height: 8px;
    padding-left: 5px;
    padding-bottom:3px;
}

.newSurveyFooterTable {
    background-image: url("../images/run/header-gray-bg.png");
    background-repeat: repeat-x;
    display: table !important;
    height: 35px;
    visibility: visible !important;
    z-index: 100;
}

.newSurveyShareTD {
    padding-left: 20px;
}

.newSurveyShareText {
    color: #555555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    position: relative;
    top: -4px;
}

.newSurveyShareIcons {
    position: relative;
    top: 2px;
    padding-right: 4px;
}

.newSurveyFooterLogo {
    position: relative;
    top: 3px;
    left: 6px;
}

.newSurveyProgressBarTableBottom {
    padding-right: 9px;
    padding-left: 16px;
}

.newSurveyValidation {
    color: #BE1C22;
    font-size: 13.5px;
    font-weight: bold;
    padding-left:19px;
    padding-top: 24px;
}

.SurveyContent textarea {
    border: solid 1px #bbb;
    box-shadow: 0 0 5px #ccc inset;
    -webkit-box-shadow: 0 0 5px #ccc inset;
}

.SurveyContent input {
    padding-left:2px;
    padding-bottom:3px;
}

.SurveyContent input[type="text"] {
    padding-left:2px;
    padding-bottom:3px;
    border: solid 1px #bbb;
    box-shadow: 0 0 5px #ccc inset;
    -webkit-box-shadow: 0 0 5px #ccc inset;
}

.newSurveyQuestionErrorBox {
    background:#ffffff url(../images/run/error-icon.png) no-repeat scroll 8px 5px;
    color:#ff3330;
    font-size: 12px;
    font-family: $fontFamily;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 3px 5px 3px 26px;
    text-align: left;
    @include border-radius(3px);
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px #ff3434;
    -moz-box-shadow: 0 0 5px #ff3434;
    box-shadow: 0 0 5px #ff3434;
    border: solid 1px #ff5656;
}

.SurveyBottomToolbar {
    margin-top: 25px;
    width: 930px;
}

.newSurveyLogoContainer {
    padding-top: 35px;
    padding-bottom: 30px;
}

.backNExitTable {
    padding-top:5px;
}

.rowHeightColor {
    height: 25px;
    color: #555555;
}

.newMatrixPadding {
    padding: 0 3px 0 2px;
}

.newNPSTable {
    border: 1px solid #cfcfcf;
    margin: 10px 0 5px !important;
}

.newNPSHeader {
    background-color: #dddddd;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    background-image: -webkit-linear-gradient(bottom, #c6c6c6 20%, #dddddd);
    background-image: -moz-linear-gradient(bottom, #c6c6c6 20%, #dddddd);
    background-image: -o-linear-gradient(bottom, #c6c6c6 20%, #dddddd);
    background-image: -ms-linear-gradient(bottom, #c6c6c6 20%, #dddddd);
    background-image: linear-gradient(to top, #c6c6c6 20%, #dddddd);  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#c6c6c6',GradientType=0 );
    height: 30px;
}

.newNPSScores {
    background-color: #eeeeee;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    background-image: -webkit-linear-gradient(bottom, #d8d8d8 20%, #eeeeee);
    background-image: -moz-linear-gradient(bottom, #d8d8d8 20%, #eeeeee);
    background-image: -o-linear-gradient(bottom, #d8d8d8 20%, #eeeeee);
    background-image: -ms-linear-gradient(bottom, #d8d8d8 20%, #eeeeee);
    background-image: linear-gradient(to top, #d8d8d8 20%, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d8d8d8',GradientType=0 );
    border: 1px solid #cfcfcf;
    height: 25px;
}

.newNPSSelect {
    background-color: #f6f6f6;
    border: 1px solid #cfcfcf;
    height: 25px;
    padding-left: 10px;
}

.newNPSSelect:hover {
    background-color: $optionHover;
}

.newNPSText {
    color: #555555;
    font-weight: normal;
    padding-left: 13px;
    padding-right: 13px;
}

.newSBSHeading {
    background-color: #dddddd;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    background-image: -webkit-linear-gradient(bottom, #c6c6c6 20%, #dddddd);
    background-image: -moz-linear-gradient(bottom, #c6c6c6 20%, #dddddd);
    background-image: -o-linear-gradient(bottom, #c6c6c6 20%, #dddddd);
    background-image: -ms-linear-gradient(bottom, c6c6c6 20%, #dddddd);
    background-image: linear-gradient(to top, #c6c6c6 20%, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#c6c6c6',GradientType=0 );
    border: 1px solid #d0d0d0;
    height: 30px;
}

.newSBSTopHeading {
    background-color: #c5c5c5;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    background-image: -webkit-linear-gradient(bottom, #878787 20%, #c5c5c5);
    background-image: -moz-linear-gradient(bottom, #878787 20%, #c5c5c5);
    background-image: -o-linear-gradient(bottom, #878787 20%, #c5c5c5);
    background-image: -ms-linear-gradient(bottom, #878787 20%, #c5c5c5);
    background-image: linear-gradient(to top, #878787 20%, #c5c5c5);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c5c5', endColorstr='#878787',GradientType=0 );
    height: 28px;
    color: #ffffff;
}

.newSBSScales {
    background-color: #efefef;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    box-shadow: 0 0 0 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.28);
    background-image: -webkit-linear-gradient(bottom, #d8d8d8 20%, #efefef);
    background-image: -moz-linear-gradient(bottom, #d8d8d8 20%, #efefef);
    background-image: -o-linear-gradient(bottom, #d8d8d8 20%, #efefef);
    background-image: -ms-linear-gradient(bottom, #d8d8d8 20%, #efefef);
    background-image: linear-gradient(to top, #d8d8d8 20%, #efefef);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef5', endColorstr='#d8d8d8',GradientType=0 );
    border: 1px solid #d0d0d0;
    height: 25px;
}

.newSBSSelect {
background-color: #f6f6f6;
border: 1px solid #d0d0d0;
height: 25px;
}

.newSBSSelect:hover {
    background-color: $optionHover;
}

.newSBSNoBorder {
    border: none !important;
}

.newSBSHeadingText {
    color: #555555;
    font-weight: normal;
}

.newSliderBar {
    border-radius: 7px;
    background: #e8e8e8;
    border-top: 1px solid #bfbfbf;
    height: 7px;
}

a.newSliderScalePeg, 
a.newSliderScalePeg:visited {
    background:url("../images/slider/newScalePeg.png") no-repeat ;
    display:block;
    height:18px;
    width:12px;
    text-decoration:none;
    position:relative;
    top:-2px;
}

a.newSliderScalePeg:hover {
    background:url("../images/slider/newScalePeg.png") no-repeat ;
    display:block;
    height:18px;
    width:12px;
    text-decoration:none;
    position:relative;
    top:-2px;
}

.newSliderHeight {
    height: 27px !important;
}

.innerShadowThankYou {
    box-shadow:0 0 5px #000000 inset;
    -webkit-box-shadow:0 0 5px #000000 inset;
}

.thankYouSubmit {
    font-family: $fontFamily;
    font-weight: bold;
    font-size: 13px;

    background: #0483ca;
    background-image: -webkit-linear-gradient(bottom, #0483ca 20%, #61c1fd);
    background-image: -moz-linear-gradient(bottom, #0483ca 20%, #61c1fd);
    background-image: -o-linear-gradient(bottom, #0483ca 20%, #61c1fd);
    background-image: -ms-linear-gradient(bottom, #0483ca 20%, #61c1fd);
    background-image: linear-gradient(to top, #0483ca 20%, #61c1fd);
    border: 1px solid #0095e2;
    color: #fff !important;

    @include border-radius(5px);

    -webkit-box-shadow: inset 0px 0px 3px 1px #0d64ad;
    -moz-box-shadow: inset 0px 0px 3px 1px #0d64ad;
    box-shadow: inset 0px 0px 3px 1px #0d64ad;

    padding: 10px 13px !important;
    filter: dropshadow(color=#474747, offx=1, offy=1);
    cursor: pointer;
}

.horizontalTopPadding {
    padding-top: 7px;
}

.EditPageLayout {
    border: 1px solid #cccccc;
    box-shadow: 0 0 2px 2px #CCCCCC inset;
    -webkit-box-shadow: 0 0 2px 2px #CCCCCC inset;
}

.singleLine {
    border-bottom: 1px solid #ccc;
    margin-bottom:5px;
}

.newSurveyTitle > hr {
    display:none;
}

.Pointer {
    cursor: pointer;
}

.imageToppadding {
    margin-top:15px;
}

.link_blueText a {
    color:#BBBBBB;
    font-size:12px;
    font-family: $fontFamily;
    font-weight: bold;
    padding-top:5px;
}

.textBoxBottomPadding {
    padding-bottom: 6px !important;
}


input#SurveySubmitButtonElement {
    @if $submitRounded == true {
        @include border-radius(5px);
    } @else {
        @include border-radius(0px);
    }

    // @if $submitShadow == true {
    //     @include box-shadow(0px 0px 2px darken($submitBackgroundColor1, 10%));
    // } @else {
    //     @include box-shadow(0px 0px 0px 0px $submitBackgroundColor1 inset);
    // }

    // Background
    @if $submitBackground == gradient {
        @include filter-gradient($submitBackgroundColor1, $submitBackgroundColor2);
        @include background-image(linear-gradient($submitBackgroundColor1, $submitBackgroundColor2));
        background-repeat: no-repeat;
        // background-attachment: fixed;
    } @else if $submitBackground == plain {
        background-color: $submitBackgroundColor1;
        @include filter-gradient($submitBackgroundColor1, $submitBackgroundColor1);
        @include background-image(linear-gradient($submitBackgroundColor1, $submitBackgroundColor1));
    } 

    @include box-shadow( $submitBoxshadow );

    border: $submitBorder;
    color: $submitColor !important;
    @include text-shadow($submitTextshadow);

    &:hover {
        // Background
        @if $submitBackground == gradient {
            @include filter-gradient($submitBackgroundColor2, $submitBackgroundColor1);
            @include background-image(linear-gradient($submitBackgroundColor2, $submitBackgroundColor1));
            background-repeat: no-repeat;
            // background-attachment: fixed;
        } @else if $submitBackground == plain {
            background-color: darken($submitBackgroundColor1, 10%);
            @include filter-gradient(darken($submitBackgroundColor1, 10%), darken($submitBackgroundColor1, 10%));
            @include background-image(linear-gradient(darken($submitBackgroundColor1, 10%), darken($submitBackgroundColor1, 10%)));
        }
    }

}

.newSurveynameContainer {
    @if $headingGradient == 1 {

        @include filter-gradient($headingBackgroundColor1, $headingBackgroundColor2);
        @include background-image(
            linear-gradient(
                top,
                $headingBackgroundColor1, 
                $headingBackgroundColor2
            )
        );
        background-repeat: no-repeat;
        // background-attachment: fixed;

    } @else if $headingGradient == 2 {

        background-color: $headingBackgroundColor1; // Old browsers

        @include filter-gradient($headingBackgroundColor1, darken($headingBackgroundColor4, 20%), vertical); // IE6-8

        @include background-image(
            linear-gradient(
                top, 
                $headingBackgroundColor1 0%, 
                $headingBackgroundColor2 50%, 
                $headingBackgroundColor3 51%, 
                $headingBackgroundColor4 100%
            )
        );

    } @else {

        @include background-image(linear-gradient($headingBackgroundColor1, $headingBackgroundColor1));

    }

    @include box-shadow( $headingBoxshadow );

    border-width: $headingBorderWidth;
    border-color: $headingBorderColor;
    border-style: $headingBorderStyle;

    .newSurveyTitle {
        color: $headingColor;
        @include text-shadow($headingTextshadow);
        font-weight: $headingWeight;
    }
}