/* 
 * BASE IMPORTS 
 */
@import "compass/css3";
@import "font-stack"; // font list: https://github.com/lloydk/font-stack/blob/master/lib/stylesheets/_font-stack.scss
@import "compass/utilities/general/hacks";  /* filter-gradient needs this */
$experimental-support-for-svg: true;

/*	
 * VARS 
 */

// Background
$backgroundType: gradient; // gradient, image, plain
$backgroundImageUrl: false;
$backgroundStart: #3674BD;
$backgroundEnd: #1F426A;
$backgroundColor: #FFF;

// Body
$containerShadow: true;
$containerShadowColor: #AAAAAA;

// Exit
$exitBg: #DBDBDB;

// Font
$fontFamily: $lucida-grande-font-stack;

// Headings
$headingGradient: 2;
$headingBackground: #3f7cbb;
$headingColor: #FFFFFF;
$headingTextshadow: 0px 0px 0px transparent;
$headingBorderWidth: 0px 0px 1px 0px;
$headingBorderColor: #DDD;
$headingBorderStyle: solid;
$headingWeight: bold;

// Submit Button
$submitRounded: true;
$submitBackground: gradient; // gradient, plain
$submitBackgroundColor: #1F436D;
$submitBorder: 1px solid #1F436D;
$submitColor: #FFF;
$submitShadow: false;
$submitTextshadow: 0px 0px 0px transparent;

// Option Hover
$optionHover: #EAF1F9;

/* 
 * THEME IMPORT 
 */
@import "_theme";