/* 
 * BASE IMPORTS 
 */
@import "compass/css3";
@import "font-stack"; // font list: https://github.com/lloydk/font-stack/blob/master/lib/stylesheets/_font-stack.scss
@import "compass/utilities/general/hacks";  /* filter-gradient needs this */
$experimental-support-for-svg: true;

/*	
 * VARS 
 */
// Background
$backgroundType: gradient; // gradient, image, plain
$backgroundImageUrl: false;
$backgroundStart: #F8F8F8;
$backgroundEnd: #C7C7C7;
$backgroundColor: transparent;

// Body Shadow
$containerInnerShadow: true;
$containerInnerShadowColor: #CCC;
$containerOuterShadow: false;
$containerOuterShadowColor: #999;

// Exit
$exitBg: #DBDBDB;
$exitColor: #0073C9;
$exitFontWeight: bold;

// Font
$fontFamily: $lucida-grande-font-stack;

// Headings
$headingGradient: 1; // 1: 2 color grandient, 2: 4 color gradient, false: plain
$headingBackgroundColor1: #C0C0C0;
$headingBackgroundColor2: #8D8D8D;
$headingBackgroundColor3: transparent;
$headingBackgroundColor4: transparent;
$headingColor: #FFFFFF;
$headingTextshadow: 0px 0px 4px rgba(2, 3, 3, 0.75);
$headingBoxshadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px rgba(255, 255, 255, 0.28) inset;
$headingBorderWidth: 1px 0px 0px 0px;
$headingBorderColor: #B8B8B8;
$headingBorderStyle: solid;
$headingWeight: bold;

// Submit Button
$submitRounded: true;
$submitBackground: gradient; // gradient, plain
$submitBackgroundColor1: #61C1FD;
$submitBackgroundColor2: #0483CA;
$submitBorder: 1px solid #0095E2;
$submitColor: #FFFFFF;
$submitShadow: false;
$submitTextshadow: 0px 0px 0px #FFF;
$submitBoxshadow: 0px 0px 3px 1px #0D64AD inset;

// Option Hover
$optionHover: #D5EFFA;

/* 
 * THEME IMPORT 
 */
@import "_theme";

/*
 * Extra Attributes
 */
.QuestionDescription, .QuestionText, .AnswerText, .AltQuestionText, .AltAnswerText, .SurveyHeader, .SurveyFooter, .QuestionError, .SurveyValidation, .SurveySectionHeading, .SurveySectionSubHeading, .SurveySectionHeadingSmall {
	color: #333;
}
.AnswerText {
	color: #555;
}