/* 
 * BASE IMPORTS 
 */
@import "compass/css3";
@import "font-stack"; // font list: https://github.com/lloydk/font-stack/blob/master/lib/stylesheets/_font-stack.scss
@import "compass/utilities/general/hacks";  /* filter-gradient needs this */
$experimental-support-for-svg: true;

/*	
 * VARS 
 */
// Background
$backgroundType: gradient; // gradient, image, plain
$backgroundImageUrl: false;
$backgroundStart: #408431;
$backgroundEnd: #1F4919;
$backgroundColor: transparent;

// Body Shadow
$containerInnerShadow: false;
$containerInnerShadowColor: transparent;
$containerOuterShadow: true;
$containerOuterShadowColor: #333;

// Exit
$exitBg: #DBDBDB;
$exitColor: #0073C9;
$exitFontWeight: bold;
$exitBorder: false;

// Font
$fontFamily: $lucida-grande-font-stack;

// Headings
$headingGradient: 2; // 1: 2 color grandient, 2: 4 color gradient, false: plain
$headingBackgroundColor1: #49883e;
$headingBackgroundColor2: #4b8a40;
$headingBackgroundColor3: #3d7d32;
$headingBackgroundColor4: #25531E;
$headingColor: #FFFFFF;
$headingTextshadow: 0px 0px 4px rgba(2, 3, 3, 0.75);
$headingBoxshadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px rgba(255, 255, 255, 0.28) inset;
$headingBorderWidth: 0px 0px 0px 0px;
$headingBorderColor: transparent;
$headingBorderStyle: solid;
$headingWeight: bold;

// Submit Button
$submitRounded: true;
$submitBackground: gradient; // gradient, plain
$submitBackgroundColor1: #408431;
$submitBackgroundColor2: #1F4919;
$submitBorder: 0px solid #AAA;
$submitColor: #FFFFFF;
$submitShadow: false;
$submitTextshadow: 0px 1px 0px #000;
$submitBoxshadow: 0px 0px 3px 1px #444 inset;

// Option Hover
$optionHover: #EBF2EA;

/* 
 * THEME IMPORT 
 */
@import "_theme";