/* 
 * BASE IMPORTS 
 */
@import "compass/css3";
@import "font-stack"; // font list: https://github.com/lloydk/font-stack/blob/master/lib/stylesheets/_font-stack.scss
@import "compass/utilities/general/hacks";  /* filter-gradient needs this */
$experimental-support-for-svg: true;

/*	
 * VARS 
 */
// Background
$backgroundType: gradient; // gradient, image, plain
$backgroundImageUrl: false;
$backgroundStart: #F8F8F8;
$backgroundEnd: #C7C7C7;
$backgroundColor: transparent;

// Body Shadow
$containerInnerShadow: true;
$containerInnerShadowColor: #B4B4B4;
$containerOuterShadow: false;
$containerOuterShadowColor: #999;

// Exit
$exitBg: #DBDBDB;
$exitColor: #0073C9;
$exitFontWeight: bold;
$exitBorder: true;

// Font
$fontFamily: $lucida-grande-font-stack;

// Headings
$headingGradient: 2; // 1: 2 color grandient, 2: 4 color gradient, false: plain
$headingBackgroundColor1: #2c4869;
$headingBackgroundColor2: #314f72;
$headingBackgroundColor3: #234266;
$headingBackgroundColor4: #14263D;
$headingColor: #FFFFFF;
$headingTextshadow: 0px 0px 4px rgba(2, 3, 3, 0.75);
$headingBoxshadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px rgba(255, 255, 255, 0.28) inset;
$headingBorderWidth: 0px 0px 0px 0px;
$headingBorderColor: transparent;
$headingBorderStyle: solid;
$headingWeight: bold;

// Submit Button
$submitRounded: true;
$submitBackground: gradient; // gradient, plain
$submitBackgroundColor1: #29456C;
$submitBackgroundColor2: #172A3B;
$submitBorder: 0px solid #AAA;
$submitColor: #FFFFFF;
$submitShadow: false;
$submitTextshadow: 0px 1px 0px #000;
$submitBoxshadow: 0px 0px 3px 1px #222 inset;

// Option Hover
$optionHover: #D3DAE2;

/* 
 * THEME IMPORT 
 */
@import "_theme";