/* 
 * BASE IMPORTS 
 */
@import "compass/css3";
@import "rgbapng";
@import "font-stack"; // font list: https://github.com/lloydk/font-stack/blob/master/lib/stylesheets/_font-stack.scss
@import "compass/utilities/general/hacks";  /* filter-gradient needs this */
$experimental-support-for-svg: true;

/*	
 * VARS 
 */
// Background
$backgroundType: image; // gradient, image, plain
$backgroundImageUrl: "../images/textures/organic.jpg";
$backgroundStart: false;
$backgroundEnd: false;
$backgroundColor: #333;

// Body Shadow
$containerInnerShadow: false;
$containerInnerShadowColor: #EDC2A1;
$containerOuterShadow: false;
$containerOuterShadowColor: #333;

// Exit
$exitBg: #DBDBDB;
$exitColor: #1B9CB7;
$exitFontWeight: bold;
$exitBorder: false;

// Font
$fontFamily: $cambria-font-stack;

// Headings
$headingGradient: 1; // 1: 2 color grandient, 2: 4 color gradient, false: plain
$headingBackgroundColor1: #A4B356;
$headingBackgroundColor2: #748900;
$headingBackgroundColor3: transparent;
$headingBackgroundColor4: transparent;
$headingColor: #FFF;
$headingTextshadow: 0px 0px 0px #FFF;
$headingBoxshadow: 0 0 0 0px transparent;
$headingBorderWidth: 0px 0px 1px 0px;
$headingBorderColor: #bbb;
$headingBorderStyle: solid;
$headingWeight: bold;

// Submit Button
$submitRounded: true;
$submitBackground: gradient; // gradient, plain
$submitBackgroundColor1: #A4B356;
$submitBackgroundColor2: #748900;
$submitBorder: 0px solid #AAA;
$submitColor: #FFF;
$submitShadow: false;
$submitTextshadow: 0px 1px 0px #000;
$submitBoxshadow: 0 0 2px 1px #444 inset;

// Option Hover
$optionHover: #E8EDCF;

/* 
 * THEME IMPORT 
 */
@import "_theme";

/*
 * Extra Attributes
 */
.newSurveyContainerTable {
	background: transparent;
	@include box-shadow(
		2px 2px 15px #8C6A51 inset,
		-2px 2px 15px #8C6A51 inset
	);
	border: 1px solid #AAA;
}
.SurveyContent {
	@include rgba-background(rgba(255, 255, 255, 0.75));
}
.newSurveynameContainer {
	border:1px solid #6C8201;
}
.QuestionDescription, .QuestionText, .AnswerText, .AltQuestionText, .AltAnswerText, .SurveyHeader, .SurveyFooter, .QuestionError, .SurveyValidation, .SurveySectionHeading, .SurveySectionSubHeading, .SurveySectionHeadingSmall {
	color:#598527;
}
.AnswerText {
	color: #979797;
}