.black_footer {
	background:#000;
}
.black_footer .r11 {
	width:988px;
	margin:0 auto;
}

.seo-row {
	margin:50px 0px 20px;
	width:100%;
	clear:both;
}

.seo-row .col-left {
	width:575px;
	margin-right:10px;
	float:left;
}
.seo-row .col-right {
	width:380px;
	margin-left:10px;
	float:right;
}

.seo-row .cb {
	clear:both;
}

.seo-row h1 {
	border-bottom: 3px solid #17284E;
    color: #17284E;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.seo-row h2 {
	border-bottom: 1px solid #AAA;
    color: #17284E;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 5px;
}
.seo-row p {
	margin-bottom:5px;
}
.seo-row p a {
	color:#489AD7;
	text-decoration: underline;
}
.seo-row ul {
	list-style-type: none;
}

.seo-row ul.no-bullets {
	list-style-type: none;
}
.seo-row ul.no-bullets li:before {
	content: "";
	color:transparent;
	padding-right: 0px;
}

.seo-row ul li {
	margin-bottom:5px;
}
.seo-row ul li a,
.seo-row ul li a:visited {
	color:#489AD7;
	text-decoration: underline;
}
.seo-row ul li a:hover {
	text-decoration: none;
}

.seo-row .widget {
	margin:0px 0px 20px;
}

.seo-row .widget.signup {
	background:#F1F6FA;
	border:1px solid #489AD7;
	text-align:left;
	padding: 15px 15px;
}
.seo-row .widget.signup h3 {
	color: #17284E;
	font-weight: 700;
	font-size:16px;
	margin:0px 0px 5px;
}
.seo-row .widget.signup p {
	margin-bottom:5px;
}
.seo-row .widget.signup p strong {
	font-weight: 700;
}
.seo-row .widget.signup form {}
.seo-row .widget.signup form input.email {
	display: inline-block;
    padding: 5px 3px;
    vertical-align: middle;
    width: 202px;
    border:1px solid #CCC;
    box-shadow: 0px 0px 2px #CCC inset;
}
.seo-row .widget.signup form input.email:focus {
	border:1px solid #AAD3E7;
}
.seo-row .widget.signup form input.submit {
	background:none;
	border:0px solid #CCC;
	padding:0px;
	display:inline-block;
	vertical-align:middle;

	width:120px;
	height:31px;
	text-indent: -9999px;
	background: transparent url(get-started.png) no-repeat 0px 0px scroll;
}
.seo-row .widget.signup form input.submit:hover {
	background-position: 0px -30px;
}

.seo-row .widget.signup a.tour,
.seo-row .widget.signup a.tour:visited {
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

	background-color: #ECECEC;
	background-image: linear-gradient(#F4F4F4, #ECECEC);

	border: 1px solid #D4D4D4;

	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	margin: 0;
	outline: medium none;
	overflow: visible;
	padding: 5px 10px;
	position: relative;
	text-decoration: none;
	text-shadow: 1px 1px 0 #FFFFFF;
	white-space: nowrap;
}
.seo-row .widget.signup a.tour:hover {
	background-color: #F4F4F4;
	background-image: linear-gradient(#ECECEC, #F4F4F4);
}


.seo-row .widget.clients {
	-webkit-box-shadow: 0px 0px 4px 0px #ccc inset;
	box-shadow: 0px 0px 4px 0px #ccc inset;
	background: #FFF;
	text-align:left;
	padding: 15px 15px;
}
.seo-row .widget.clients img.left {
	float:left;
	margin-right: 15px;
}
.seo-row .widget.clients p {
	margin-bottom: 5px;
}
.seo-row .widget.clients p strong {
	font-weight: 700;
}
.seo-row .widget.clients .brands {
	margin:10px 0px;
	width: 350px;
	height: 208px;
	background: transparent url('clients.jpg') no-repeat top center scroll;
}
.seo-join {
	margin:20px 0px;
}


.more-links {
	margin-bottom: 40px;
}
.more-links p {
	vertical-align: middle;
	line-height: 25px;
	font-size: 23px;
	font-weight: 700;
}
.more-links p a,
.more-links p a:visited {
	vertical-align: middle;
	line-height: 25px;
	font-size: 14px;
	font-weight: 400;
	color:#489AD7;
	text-decoration: underline;
}
.more-links p a:hover {
	text-decoration: none;
}

.more-links p span.separator {
	vertical-align: middle;
	line-height: 25px;
	font-weight: 400;
	font-size: 14px;
}
.more-links p a.first {
	margin-left:25px;
}

.r13_c2_joinnow {
	-webkit-box-shadow: 1px 1px 3px #333333;
	box-shadow: 1px 1px 3px #333333;
}

.footer-links {
	margin:70px 0px 30px;
}
.footer-links h1 {
	border-bottom: 1px solid #484848;
    color: #484848;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.footer-links .row {
	width:100%;
}
.footer-links .row .col {
	float:left;
	width:320px;
	margin-right:10px;
}
.footer-links .row .cb {
	clear: both;
}
.footer-links .row .col.last {
	margin-right: 0px;
}
.footer-links .row .col h3 {
	color: #484848;
    font-size: 16px;
    font-weight: 700;
    margin:0px 0px 5px;
    padding:0px;
}
.footer-links .row .col ul {
	list-style-type: none;
	margin: 0 0 0 10px;
    padding-left: 10px;
}
.footer-links .row .col ul li {
	margin:0px 0px 2px;
}
.footer-links .row .col ul li a,
.footer-links .row .col ul li a:visited {
	font-size: 13px;
	color:#489AD7;
	text-decoration: none;
}
.footer-links .row .col ul li a:hover {
	text-decoration: underline;
}

.footer-links ul li:before,
.seo-row ul li:before {
    content: "\002022";
    color: #489AD7; /* or whatever color you prefer */
    font-weight: 700;
    padding-right: 9px;
}



/* New Header Stuff */
body.seo > div > table {
	margin-top:-8px;
}
body.seo {
	background-position:0px -30px !important;
	border-top:8px solid #182E56;
}
body.seo .r2 {
	height:124px;
}